  
<header-search id="header-search-{{ section.id }}" class="header-search">
  <form id="search-form">
    <input type="text" id="search-input" placeholder="Search..." />
  </form>

  <ul id="search-results"></ul>
  <div id="image-container"></div>
</header-search>

<script src="https://cdnjs.cloudflare.com/ajax/libs/he/1.2.0/he.js" defer></script>

<script>
  document.getElementById('search-form').addEventListener('keyup', function(event) {
    event.preventDefault();

    const searchInput = document.getElementById('search-input').value.trim();
    const searchInputencode = he.encode(searchInput)
    if (searchInput.length >= 3) {
      fetch(`http://localhost:8000/api/search?q=${searchInputencode}`)
        .then(response => response.json())
        .then(data => {
          const resultsContainer = document.getElementById('search-results');
          resultsContainer.innerHTML = '';

          if (data.length > 0) {
            data.slice(0, 4).forEach(result => {
              const listItem = document.createElement('li');
              const link = document.createElement('a');
              const image = document.createElement('img');
              image.src = result.image;
              image.alt = result.title;
              var title = he.encode(result.title)
              link.textContent =result.title;
              link.href = `https://laptopifyy.myshopify.com/products/${result.handle}`;
              listItem.appendChild(image);
              listItem.appendChild(link);
              resultsContainer.appendChild(listItem);
            });

            if (data.length > 4) {
             
              const showMoreItem = document.createElement('li');
              showMoreItem.textContent = 'Show More';
              showMoreItem.addEventListener('click', function() {
                // Send all data results to the next page
                const searchData = encodeURIComponent(JSON.stringify(data));
                console.log("searchDate", searchData)
                window.location.href = `https://laptopifyy.myshopify.com/pages/search-result?q=${encodeURIComponent(searchInput)}`;
              });
              resultsContainer.appendChild(showMoreItem);
            }
          } else {
            const noResultsItem = document.createElement('li');
            noResultsItem.textContent = 'No results found';
            resultsContainer.appendChild(noResultsItem);
          }
        })
        .catch(error => console.error(error));
    }
  });
</script>