{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

<form id="search-form">
    <input type="text" id="search-input" placeholder="Search..." />
    <button type="submit">Search</button>
</form>
<ul id="search-results"></ul>


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}