{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}


<form id="search-form">
    <input type="text" id="search-input" placeholder="Search..." />
<!--     <button type="submit">Search</button> -->
</form>
<ul id="search-results"></ul>


{% stylesheet %}
{% endstylesheet %}

{% javascript %}


    document.getElementById('search-form').addEventListener('keyup', function(event) {
      event.preventDefault();

      const searchInput = document.getElementById('search-input').value;
      if (searchInput.length >= 3) {
        fetch(`http://localhost:8000/api/search?q=${searchInput}`)
          .then(response => response.json())
          .then(data => {
            const resultsContainer = document.getElementById('search-results');
            resultsContainer.innerHTML = '';

            if (data.length > 0) {
              console.log("calling...")
              data.slice(0, 4).forEach(result => {
                const listItem = document.createElement('li');
                const link = document.createElement('a');
                link.textContent = result.title;
                document.write("result title",  result.title)
                link.href = `https://laptopifyy.myshopify.com/products/${result.handle}`;
                listItem.appendChild(link);
                resultsContainer.appendChild(listItem);
              });

              if (data.length > 4) {
                const showMoreItem = document.createElement('li');
                showMoreItem.textContent = 'Show More';
                resultsContainer.appendChild(showMoreItem);
              }
            } else {
              const noResultsItem = document.createElement('li');
              noResultsItem.textContent = 'No results found';
              resultsContainer.appendChild(noResultsItem);
            }
          })
          .catch(error => console.error(error));
      }
    });
  

{% endjavascript %}